<form [formGroup]="page.dobForm">
  <div fxLayout="column wrap" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true">
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <h3>
        What is your date of birth</h3>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <mat-form-field style="width:330px" class="input" [appearance]="&apos;outline&apos;" (click)="date(page.dob)">
        <input matInput placeholder="mm/dd/yyyy " [matDatepicker]="picker" formControlName="dob" (dateInput)="true" [required]="true" [disabled]="false" readonly="true">
        <mat-datepicker-toggle matSuffix [for]="picker" disabled="false"></mat-datepicker-toggle>
        <mat-datepicker #picker [disabled]="false" startView="month" touchUi="false"></mat-datepicker>
        <mat-error align="start" *ngIf="page.dobForm.required">Enter date of birth</mat-error>
        <mat-error align="start" *ngIf="page.dobForm.controls.dob.hasError(&apos;tooJung&apos;)">Applicants are eligible above 18</mat-error>
        <mat-error align="start" *ngIf="page.dobForm.controls.dob.hasError(&apos;tooOld&apos;)">Applicants up to age 60.5 are eligible</mat-error>
      </mat-form-field>
    </div>
  </div>
</form>