<div fxLayout="row wrap" style="width: 560px;padding:0!important;" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" fxLayoutGap=".5em" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" style="padding:10px" class="lightgraybg" fxLayoutAlign="start stretch" [fxShow]="true">
      <p>
        Disability Insurance</p>
    </div>
    <div fxLayout="row wrap" style="padding:10px" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <p>
            If you become sick or injured and can&#x2019;t work for some time (and it&#x2019;s confirmed by a doctor) disability is designed to cover up to about 60% of your paycheck or income.
          </p>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" style="padding:10px;border-top:#F8F8F8 1px solid" fxLayoutAlign="end end" [fxShow]="true"><button mat-button style="height:40px" class="primary-button">Okay</button></div>
  </div>
</div>