<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
  <form [formGroup]="page.hoursForm">
    <div fxLayout="column wrap" fxLayoutGap="1em" fxLayoutAlign="space-between center" [fxShow]="true">
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <h3 class="fontSize18">
          Are you employed full-time and work at least 30 hours per week?</h3>
      </div>
      <div fxLayout="row wrap" class="width100" fxLayoutAlign="center center" [fxShow]="true">
        <mat-radio-group [value]="&apos;governmentEmployee&apos;" class="width100" formControlName="hours" [required]="false">
          <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
            <div fxLayout="row wrap" style="width:60%;" fxLayoutAlign="center center" [fxShow]="true">
              <div fxLayout="column wrap" fxFlex="22" fxLayoutGap="0.5em" fxLayoutAlign="center center" [fxShow]="true">
                <div fxLayout="row wrap" class="blackText" fxLayoutAlign="center stretch" [fxShow]="true">
                  <h5 [ngClass]="{&apos;orangeText&apos;:page.yes}" class="font400">
                    Yes</h5>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true">
                  <mat-radio-button [value]="&apos;Yes&apos;" [required]="true" (change)="yesFun()"></mat-radio-button>
                </div>
              </div>
              <div fxLayout="column wrap" fxFlex="22" fxLayoutGap="0.5em" fxLayoutAlign="center center" [fxShow]="true">
                <div fxLayout="row wrap" class="blackText" fxLayoutAlign="center stretch" [fxShow]="true">
                  <h5 [ngClass]="{&apos;orangeText&apos;:page.no}" class="font400">
                    No</h5>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true">
                  <mat-radio-button [value]="&apos;No&apos;" [required]="true" (change)="noFunc()"></mat-radio-button>
                </div>
              </div>
            </div>
          </div>
        </mat-radio-group>
      </div>
    </div>
  </form>
</div>