<div fxLayout="row wrap" style="width:300px" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" style="padding:10px;color:white" class="orangeBg" fxLayoutAlign="start stretch" [fxShow]="true">
      <p>
        I need advice</p>
    </div>
    <div fxLayout="row wrap" style="padding:10px" fxLayoutAlign="start stretch" [fxShow]="true">
      <p style="line-height:1.5">
        Not sure which products are best for you? Use our automated assesment tool to receive a customized recommondation</p>
    </div>
  </div>
</div>