<div fxLayout="row wrap" class="width100" fxLayoutAlign="start stretch" [fxShow]="true">
  <form [formGroup]="page.salaryForm">
    <div fxLayout="column wrap" class="width100" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true">
      <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true">
        <h3>
          What is your monthly gross income?</h3>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true">
        <mat-form-field style="width:300px" [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput placeholder="$1,200" [required]="false" formControlName="salary">

        </mat-form-field>
      </div>
    </div>
  </form>
</div>